%nav.navbar.navbar-expand-sm.sticky-top.navbar-dark{style: "background-color: #222222"}
  %a.navbar-brand{href: root_path} Furtweet
  %button.navbar-toggler{"aria-controls": "navbar", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbar", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#dropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#"} ドロップダウン
        .dropdown-menu{"aria-labelledby": "dropdown"}
          %a.dropdown-item{href: "#"} リンク1
          %a.dropdown-item{href: "#"} リンク2
          %a.dropdown-item{href: "#"} リンク3
    %form.form-inline.my-2.my-md-0
      %input.form-control.mr-sm-1{placeholder: "Search", type: "search"}
      %button.btn.btn-outline-warning.mt-2.my-sm-0{type: "submit"} Search

/以下 swiperのコード/
.swiper-container
  .swiper-wrapper
    .swiper-slide
      = image_tag "fruit_sample1.jpg"
    .swiper-slide
      = image_tag "fruit_sample2.jpg"
    .swiper-slide
      = image_tag "fruit_sample3.jpg"
  .swiper-pagination.swiper-pagination-white
  .swiper-button-prev.swiper-button-white
  .swiper-button-next.swiper-button-white

:javascript
  var swiper = new Swiper('.swiper-container', {
    navigation: {
      prevEl: '.swiper-button-prev', //左側にあるこれ「＜」
      nextEl: '.swiper-button-next', //右側にあるこれ「＞」
    },
    loop: true, //画像のループの有無
    speed: 1000, //スライドするスピード
    pagination: { //ページネーションの種類
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true, //クリック判定の有無
    },
    autoplay: { //自動スライド
      delay: 3000, //３秒ごとに
      disableOnInteraction: true
    },
  });

